<header id="foro">
    <h1 style="font-size: 50px;">Comparte con nosotros tu experiencia</h1>
</header> <br> <br>
<div id="usuario">
  <h1>Estos Mensajes son de {{perfil.nombre }} {{perfil.apellidos}}</h1>

</div> <br> <br>
<div *ngIf='activado && mensaje!=null' class="alert alert-primary" role="alert">
  {{mensaje}}
</div>

      
<div>  
  <div id="mensajeForo" (click)=' mensaje.idUser ? formNuevo.patchValue(mensaje):formNuevo.reset()' *ngFor="let mensaje of mensajes">
    <h1>{{mensaje.titulo}}</h1>  
    <p>{{mensaje.contenido}}</p>
    <button class="btn btn-danger" type='button'
    (click)='eliminarMensaje()' [disabled]='!formNuevo.value.id'>Eliminar </button>
    <button (click)='this.editarMensajes=!this.editarMensajes;' type="button" name="" id="" class="btn btn-primary"  [disabled]='!formNuevo.value.id'>Edita tu Mensaje</button>
    <div *ngIf='this.editarMensajes' class="row my-2">
      <div class="col">
        <h3 style="text-align: center;">Editar mensaje</h3>
        <form [formGroup]="formNuevo" (ngSubmit)='crearMensaje(formNuevo.value)' action="">
          <input type="text" class="form-control" formControlName="titulo" placeholder="titulo">
          <textarea name="contenido" formControlName="contenido" id="" cols="30" rows="10" placeholder="Empieza a contarnos tu historia"></textarea>
          <button class="btn btn-primary" type="button" (click)='editarMensaje()' [disabled]='formNuevo.invalid'>Editar </button>
        </form>
      </div>
              
  </div>             
</div>

<button (click)='this.enviarMensajes=!this.enviarMensajes;' type="button" name="" id="" class="btn btn-primary">Cuentanos tu Experiencia</button>
<div *ngIf='this.enviarMensajes' class="row my-2">
  <div id="mensaje" class="col">
    <h1 style="text-align: center;">Cuentanos tu experiencia</h1> <br>
    <form [formGroup]="formNuevo" (ngSubmit)='crearMensaje(formNuevo.value)' action="">
      <input type="text" class="form-control" formControlName="titulo" placeholder="titulo">
      <textarea name="contenido" formControlName="contenido" id="" cols="30" rows="10" placeholder="Empieza a contarnos tu historia"></textarea>
      <button class="btn btn-primary" (click)="crearMensaje(mensajeNuevo)" >Inertar </button>    
    </form>
  </div>

  
