#foro{
    background-size: cover;
    background-image: url(https://images3.alphacoders.com/167/thumb-1920-167859.jpg);
    color:sandybrown;
    text-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    border-radius: 10px;
    height: 250px;
    width: 100%;
    font-family: Lobster,cursive;
    
}


#mensajeForo{
    background-color:lightgoldenrodyellow;
    margin: 80px;
    border: 2px solid red;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 black;
    padding: 30px;    
    font-family: Lobster,cursive;
   
}
#mensaje{
    background-color:lightgoldenrodyellow;
    padding: 50px;;

}
#usuario{
    border: 2px solid red;
    border-radius: 20px;
    background-color: aquamarine;
    padding: 40px;
    color: red;
    font-family: 'Akaya Kanadaka', cursive;
}