        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

  
<div class="container">
    <div  class="row">
        <div  class="col-md-5 mx-auto">
            <div  id="first">
                <div  class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <form [formGroup]="formLogin" (submit)="login()" id="login-form" class="form" >
                       
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input  class="form-control" type="text" formControlName="email" placeholder="email">
                            
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input class="form-control" type="password" formControlName="password" placeholder="contraseña">
                        </div> 
                        
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me"> Recordar usuario
                            </label>
                        </div>
                        <div class="form-group">
                            <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                        </div>
                        <div class="col-md-12 text-center ">
                            <button class=" btn btn-block mybtn btn-primary tx-tfm" type="submit">Login</button>
                        </div>
                        
                        <div class="form-group">
                            <p class="text-center">¿No tienes cuenta? <a href="/registro" id="signup">Regístrate aquí</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        
    

<!-- 

    
    <div class="alert alert-danger" role="alert"*ngIf='mensaje'>
        <strong>{{mensaje}}</strong>
    </div>
    <div style="margin: 40px;" id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form [formGroup]="formLogin" (submit)="login()" id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" formControlName="email" placeholder="email">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" formControlName="password" placeholder="contraseña">
                            </div>
                            <div class="form-group">
                                <button type="submit">Login</button>
                            </div>
               
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

-->